body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/74/ed/32/74ed32b648f435820d2cdd798ba69ef6.jpg");
}
.header {
  text-align: center;
}
.nav ul {
    clear: both;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    list-style-type: none;
    display: inline;
    clear: both;
    text-align: center;
    padding: 0;
    margin: 0;
}
.footer {
    clear: both;
    text-align: center;
    position:fixed;
   bottom:20px;
   height:30px;
   width:100%;
}
.donutbackground {
  background-image: url("https://savvler-prod.s3-ap-northeast-1.amazonaws.com/lists/2617/33564-Donuts-.jpg/original?1452773152");
}
h3 {
  color: #845;
  text-align: center;
}
