body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/74/ed/32/74ed32b648f435820d2cdd798ba69ef6.jpg");
}
.header {
  text-align: center;
}
.nav ul {
    clear: both;
}
.nav li {
    list-style-type: none;
    display: inline;
    padding-left: 5px;
}
